@charset "UTF-8";
@import "vendors/bxslider.css";
@import "base/_normalize";
@import 'custom/default';
@import "common/common";
@import "common/header";
@import "common/footer";
// @import "vendors/bxslider.css";

.business-banner{
  position: relative;
  height: $business-banner-height;
  // height: 130px;
  background-color: pink;
  font-size: 0;
  &.banner-bg2{
    background: url(../img/b2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .banner-ctx{
      position: relative;
      height: 100%;
      .banner-t2{
        position: absolute;
        left: 0;
        top: 0;
        width: 220px;
        height: 146px;
        background: url(../img/t2.png) no-repeat center;
      }
    }
  }
}

body > .business-tab,
.business-banner .business-tab{
  position: absolute;
  bottom: 0;
  @include overflowHidden;
  // height: $business-banner-tab-height;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  .tab-header{
    display: inline-block;
    position: relative;
    width: 20%;
    font-size: $font-size-18;
    line-height: $business-banner-tab-height;
    height: $business-banner-tab-height;
    box-sizing: border-box;
    // border-bottom: 4px solid $nav-bg-color;
    border-bottom: 4px solid transparent;
    // padding-left: 105px;
    text-align: center;
    cursor: pointer;
    .icon{
      // position: absolute;
      // left: 58px;
      // top: 2px;
      // left: -10px;
      position: relative;
      top: 4px;
      margin-right: 25px;
      font-size: 28px;
      // transform: scale(10);
    }
    .icon,
    .title{
      color: #fff;
      transition: all .2s;
    }
    .icon-gaosuwuliuwuliuguganwang{
      font-size: 30px;
      // transform: scale(1.4);
    }
  }
  .tab-header:hover,
  .tab-header.active{
    border-color: $nav-bg-color;
    background-color: #000;
    color: $nav-bg-color;
    .icon,
    .title{
      color: $nav-bg-color;
    }
  }
}

.mobile-show{
  display: none;
}

.tab-body{
  position: relative;
  width: 100%;
  height: $business-tab-body;
}
.tab-1::before,
.tab-2::before,
.tab-3::before,
.tab-4::before,
.tab-5::before{
  position: absolute;
  top: 0;
  height: $business-tab-body;
}
.tab-1{
  background: $tab-1-bg-color;
}
.tab-2{
  background: $tab-2-bg-color;
}
.tab-3{
  background: $tab-3-bg-color;
}
// .tab-4{
//   background: $tab-4-bg-color;
// }
// .tab-5{
//   background: $tab-5-bg-color;
// }
.tab-4,
.tab-5{
  background:#1a1a1a
}
.tab-1,
.tab-2,
.tab-3,
.tab-4,
.tab-5{
  @media all and (max-width: $min-width-750 + 1) {
    background: #fff;
  }
}
.tab-1::before{

  @media all and (min-width: $min-width-750 + 1) {
    left: 0;
    content: '';
    width: 100%;
    background: url(../img/tab-1.jpg) center no-repeat;
    background-size: cover;
  }
}
.tab-2::before{
  @media all and (min-width: $min-width-750 + 1) {
    content: '';
    right: 0;
    width: 100%;
    background: url(../img/tab-2.jpg) center no-repeat;
    background-size: cover;
  }
}

.tab-3::before,
.tab-4::before{
  @media all and (min-width: $min-width-750 + 1) {
    left: 0;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/tab-3.jpg) center no-repeat;
    background-size: cover;
  }
}
.tab-4:before{
  background:url(../img/tab-4.jpg) 50% no-repeat;
  background-size:cover;
}

// .tab-5::before{
//   @media all and (min-width: $min-width-750 + 1) {
//     left: 0;
//     content: url(../img/tab-5.png);
//   }
// }

.main-wrap{
  font-size: 0;
}
.tab-body-bg{
  position: absolute;
  height: $tab-body-bg-height;
  background-color: $tab-body-bg-color;
  opacity: .9;
  z-index: 1;
}
.tab-right-bg{
  left: 0;
  // right: -9999px;
  @media all and (min-width: 1190px){
    right: calc(100% - 1190px);
  }
  @media all and (min-width: $min-width-750) and (max-width: $max-width-1190){}

}
.tab-left-bg{
  background-color: #e9e9e9;
  right: 0;
  left: -9999px;
}
.tab-body-left,
.tab-body-right{
  position: relative;
  z-index: 2;
  @include displayInlineBlock;
}
.tab-body-left{
  .tab-left-title{
    // background: green;
    position: relative;
    margin-top: 44px;
    box-sizing: border-box;
    border-left: 4px solid $nav-bg-color;
    .title,
    .title-sub{
      display: block;
      line-height: 1;
      color: $font-blank-color;
    }
    .title{
      font-size: $font-size-18;
    }
    .title-sub{
      font-size: $font-size-22;
      margin-top: 14px;
    }
    .icon{
      position: absolute;
      right: 0px;
      top: -10px;
      font-size: 20px;
      // transform: scale(5);
      font-size: 70px;
      color: #bfbfbf;
      opacity: 1;
    }
  }
  .tab-left-icon{
    margin-top: 78px;
    font-size: 0;
    .icon-item{
      position: relative;
      padding-top: 50px;
      border-right: 1px solid $year-border-color;
      @include displayInlineBlock;
      box-sizing: border-box;
      width: 33.33%;
      text-align: center;
      &:last-child{
        border: none;
      }
      .icon{
        position: absolute;
        top: -4px;
        left: 50%;
        margin-left: -20px;
        // transform: scale(8);
        color: $nav-bg-color;
        font-size: 40px;
      }
      .icon-desc{
        font-size: $font-size-18;
        color: $font-blank-color;
        line-height: 24px;
      }
    }
  }
  .tab-right-icon{
    .icon{
      // transform: scale(7)!important;
    }
    .icon-desc{
      line-height: 30px !important;
    }
  }
  .tab-left-desc{
    margin-top: 44px;
    .desc{
      font-size: $font-size-12;
      color: $font-blank-color;
      line-height: 22px;
    }
  }
}
.tab-body-right{
  padding-top: 44px;
  font-size: 0;
  .block-info .block-title,
  .right-title{
    box-sizing: border-box;
    line-height: 22px;
    border-left: 4px solid $nav-bg-color;
    color: $font-blank-color;
    position: relative;
    top: -10px;
    .at-logo{
      position: absolute;
      right: 20px;
      top: -20px;
    }
  }
  .block-info{
    position: relative;
    background: $bg-default;
    height: 456px;
    @include displayInlineBlock;
    .block-title{
      margin-top: 30px;
      height: 22px;
      padding-right: 10px;
    }
    .company-name{
      position: absolute;
      top: 0;
    }
    .company-name-more{
      line-height: 1.2;
      top: -8px;
    }
    
    .desc,
    .block-btn{
      font-size: $font-size-12;
    }
    .desc{
      line-height: 22px;
      color: $font-blank-color;
      margin-top: 14px;
      max-height: 110px;
      overflow-y: auto;
    }
  }
  .block-service{
    position: absolute;
    top: 355px;
    bottom: 0px;
    width: 100%;
    // margin-top: 15px;
    font-size: 0;
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      background: linear-gradient(to right, #f3f3f3 0%, #fafafa 50%, #fff 100%);
    }
  }
  .right-title{
    position: relative;
    .visit-web{
      position: absolute;
      right: 20px;
      top: -6px;
    }
  }
  .block-btn{
    position: absolute;
    top: 315px;
    right: 20px;
    // margin-top: 18px;
    // padding-right: 20px;
    line-height: 32px;
    color: $nav-bg-color;
    text-align: right;
    cursor: pointer;
    .btn-span{
      display: inline-block;
      padding: 0 20px;
      background: $nav-bg-color;
      color: #fff;
      border-radius: 99px;
      font-size: $font-size;
    }
  }
  .right-img{
    height: 310px;
    text-align: center;
    background: #00030a;
    position: relative;
    overflow: hidden;
    .car-info{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: url(../img/car-bg.png) center no-repeat;
      background-size: contain;
      .car-logo-list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        // .logo-item{
          // cursor: pointer;
          // &:hover{
          //   .icon{
          //     color: #fff;
          //   }
          // }
        // }
        .icon{
          color: #979998;
          position: relative;
        }
      }
      .car-more{
        position: absolute;
        top: 50%;
        color: #fff;
        cursor: pointer;
      }
    }

  }
  .right-img:hover{
    .play-model{
      top: 0;
    }
  }
  .gk-img{
    position: relative;
    margin-top: 24px;
  }
  .right-desc{
    margin-top: 24px;
    line-height: 22px;
    font-size: 12px;
    // width: 380px;
    width: 100%;
    position: relative;
    .desc-info{
      display: block;
    }
    .desc-btn{
      position: absolute;
      color: $nav-bg-color;
      cursor: pointer;
    }
  }
  .server-common{
   @include displayInlineBlock;
   width: 50%;
  }
  .block-service,
  .server-common{
    .block-scale,
    .block-phone,
    .block-address{
      @include displayInlineBlock;
    }
    .block-scale{
      display: inline-block;
      font-size: $font-size;
      color: $search-result-font-color;
      line-height: 1;
    }
    .block-phone,
    .block-address{
      margin-left: 15px;
      border-left: 1px solid $year-border-color;
      .name,
      .number{
        display: block;
        line-height: 1;
        color: $nav-bg-color;
        font-size: $font-size;
        padding-left: 12px;
      }
      .number{
        margin-top: 6px;
      }
    }
    .block-address{
      .name{
        line-height: 20px;
      }
    }
  }
  .ong-item{
    height: 190px;
    padding-right: 20px;
    .block-img{
      display: block;
      height: 100%;
    }
  }
  .block-img{
    margin-top: 8px;
    height: 130px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
    }
    .img-m-t{
      margin-top: 10px;
    }
    .block-img-5{
      width: 211px;
      height: 97px;
      margin-left: -15px;
      margin-top: 30px;
    }
    .block-img-6{
      width: 252px;
      height: 83px;
      margin-top: 40px;
      margin-left: -30px;
    }
    .block-img-7{
      background: #00030a;
    }

    .play-model{
      position: absolute;
      left: 0;
      top: 100%;
      // top: 0;
      width: 100%;
      height: 100%;
      transition: all .3s;
      background: rgba(0,0,0,.8);
    }
    .icon-bofang{
      position: absolute;
      left: 50%;
      top: 50%;
      width:56px;
      height: 56px;
      color: #666;
      font-size: 50px;
      margin-left: -28px;
      margin-top: -28px;
      cursor: pointer;
      &:hover{
        color: #fff;
      }
    }
    .car-info-detail{
      display: flex;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 0;
      height: 50px;
      background: #000;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 10;
      .flex-left{
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        color: #fff;
        .icon{
          font-size: 30px;
        }
        &::before{
          position: absolute;
          width: 0;
          height: 0;
          left: 100%;
          top: 50%;
          margin-top: -10px;
          content: "";
          border: 10px solid transparent;
          border-left-color: #000;
        }
      }
      .flex-right{
        width: 130px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        height: 100%;
        background-color: #04a450;
        line-height: 50px;
        padding-left: 20px;
      }
    }
    &:hover{
      .play-model{
        top: 0;
      }
    }
  }
  .right-ctx-wrap{
    position: relative;
    margin-left: 20px;
    &::before{
      position: absolute;
      left: 0;
      top: -44px;
      height: 500px;
      width: 100%;
      content: '';
      background: #fff;
    }
  }
  .right-server{
    position: relative;
    z-index: 10;
  }
}

// .tab-body-right-one{
//   background: #fff;
//   height: 500px;
// }

.tab-body-right-two{
  padding-top: 25px;
}

.mt-tab{
  margin-top: -30px;
  .bx-wrapper{
    box-shadow: none;
    border: none;
    background: transparent;
  }
  .bx-viewport{
    height: 450px;
  }
  .bx-wrapper .bx-pager, 
  .bx-wrapper .bx-controls-auto{
    bottom: -20px;

  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover, 
  .bx-wrapper .bx-pager.bx-default-pager a.active, 
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #04a450;
  }
  
  .block-info {
    .block-title{
      display: flex;
      align-items: center;
      margin-top: 25px;
      line-height: 1.2;
      padding-right: 10px;
    }
  }
  .block-btn{
    top: 310px;
  }
  .block-service{
    top: 350px;
  }
  
}
body > .business-tab{
  position: fixed;
  top: -200px;
  width: 100%;
  height: 80px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
  transition: all .3s;
}

#play{
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 20;
  .video-model{
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    background: #fff;
    .video-play{
      width: 100%;
      height: 100%;
    }
    .close-video{
      position: absolute;
      right: -20px;
      top: -20px;
      color: $nav-bg-color;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: #fff;
      text-align: center;
      cursor: pointer;
      .icon-close{
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        transition: all .3s;
      }
    }
    .close-video:hover{
      .icon-close{
        transform: rotate(360deg);
      }
    }
  }
}
@import "./business-media.scss";
