@media all and (min-width: $max-width-1190){
  .group-common{
    width: 100%;
    height: $group-ctx-height;
  }

  .group-four{
    height: 350px;
  }

  .block-title{
    .span-h2{
      padding-left: 24px;
    }
  }
  .content-wrap{
    margin-left: 414px;
  }
  .content-left{
    width: 350px;
  }
  .content-right{
    width: 360px;
    margin-left: 65px;
    display: none;
  }
  .right-item{
    .item-desc{
      margin-right: 10px;
    }
  }
  .organize-wrap{
    margin-left: 415px;
    .first-level{
      left: 25px;
      top: 129px;
    }
    .second-level{
      left: 187px;
      top: -28px;
      padding-left: 12px;
      .level-item{
        margin-top: 8px;
      }
    }
    .third-level{
      left: 405px;
      top: -39px;
      padding-left: 12px;
      .level-item{
        margin-bottom: 6px;
      }
    }
  }
  .organize-bg::before{
    position: absolute;
    right: 65px;
    top: -40px;
    content: '';
    background: url(../img/g-img-4.png) no-repeat;
    width: 710px;
    height: 365px;
  }
  .big-event-wrap{
    .event-content{
      padding: 0 20px;
    }
    .event-content > div{
      width: $big-event-item-width;
    }
  }
}
@media all and (min-width: $min-width-750) and (max-width: $max-width-1190){
  .group-common{
    width: 100%;
    height: $group-ctx-height;
  }
  .group-four{
    height: 350px;
  }
  .block-title{
    .span-h2{
      padding-left: 20px;
    }
  }
  .content-wrap{
    margin-left: 240px;
  }
  .content-left{
    width: 350px;
  }
  .content-right{
    width: 330px;
    margin-left: 60px;
  }
  .right-item{
    .item-desc{
      margin-right: 8px;
    }
  }
  .organize-wrap{
    margin-left: 415px;
    .first-level{
      left: -118px;
      top: 129px;
    }
    .second-level{
      left: 45px;
      top: -28px;
      padding-left: 12px;
      .level-item{
        margin-top: 8px;
      }
    }
    .third-level{
      left: 260px;
      top: -39px;
      padding-left: 12px;
      .level-item{
        margin-bottom: 6px;
      }
    }
  }
  .organize-bg::before{
    position: absolute;
    right: 0px;
    top: -40px;
    content: '';
    background: url(../img/g-img-4.png) no-repeat;
    width: 710px;
    height: 365px;
  }

  .big-event-wrap{
    .event-content{
      padding: 0 15px;
    }
    .event-content > div{
      width: 215px;
    }
  }
}

@media all and (max-width: $min-width-750) {
  .mobile-hide{
    display: none;
  }
  .mobile-show{
    display: block;
  }
  .group-first{
    background: #fff;
  }
  .first-block::before{
    top: px2rem(115);
    width: px2rem(690);
    height: px2rem(160);
    left: 50%;
    margin-left: px2rem(-345);
    // background-position-y: center;
    background-size: contain;
  }
  .block-title{
    padding-top: px2rem(80);
    .span-h2{
      font-size: px2rem(36);
      padding-left: px2rem(36);
      line-height: px2rem(40);
      border-left-width: px2rem(4);
    }
  }
  .content-wrap{
    margin-top: px2rem(270);
    padding-top: px2rem(80);
    padding-bottom: px2rem(120);
    .since-img{
      width: px2rem(496);
      height: px2rem(88);
      background-size: contain;
    }
    .content-left,
    .content-right{
      display: block;
      .content{
        font-size: px2rem(24);
        line-height: px2rem(46);
        height: px2rem(46);
        letter-spacing: 0;
        text-indent: 0;
      }
    }
    .content-left{
      height: px2rem(288);
    }
    .content-right{
      display: none;
      height: px2rem(430);
      // padding-bottom: px2rem(20);
    }
    .content-load-more{
      position: absolute;
      bottom: px2rem(30);
      width: 100%;
      text-align: center;
      .load-more-up,
      .load-more-down{
        display: none;
        cursor: pointer;
        .icon{
          font-size: px2rem(50);
          color: $nav-bg-color;
        }
      }
      .load-more-down{
        .load-more-span,
        .icon{
          color: $nav-bg-color;
        }
        .load-more-span{
          display: block;
          font-size: px2rem(24);
        }
      }
    }
    // .active{
    //   .load-more-up{
    //     display: block;
    //   }
    //   .load-more-down{
    //     display: none;
    //   }
    // }
  }
  .group-second{
    .second-block::before{
      // left: -40px;
      top: px2rem(150);
      left: 50%;
      margin-left: px2rem(-218);
      background: url(../img/g-bg-img-2.png) no-repeat;
      background-size: contain;
      width: px2rem(435);
      height: px2rem(153);
    }

    .content-wrap{
      margin-top: px2rem(270);
      padding-top: px2rem(80);
      // padding-bottom: px2rem(300);
      padding-bottom: px2rem(180);
    }
    .content-second{
      margin-top: px2rem(236);
      padding-top: 0;
      .content-left,
      .content-right{
        .left-img,
        .right-img{
          width: px2rem(65);
          height: px2rem(65);
          background-size: contain;
        }
        .left-img{
          left: px2rem(0);
          top: px2rem(-80);
        }
      }
      .content-left{
        font-size: 0;
        .left-item{
          display: inline-block;
          vertical-align: top;
          width: 50%;

          .item-desc{
            font-size: px2rem(24);
            line-height: px2rem(36);

          }
        }
        .left-item:nth-of-type(1){
          width: 100%;
        }
        .item-title{
          font-size: px2rem(30);
          line-height: px2rem(50);
          box-sizing: border-box;
          border-bottom: px2rem(1) solid #d6e5e6;
        }
      }
      .content-right{
        display: none;
        margin-top: px2rem(150);
        padding-bottom
        .right-item{
          line-height: px2rem(48);
          .item-title,
          .item-desc{
            font-size: px2rem(28);
          }
        }
      }
      .right-img{
        top: px2rem(-70);
        // right: px2rem(50);
        right: 0 !important;
      }
    }
  }
  .group-second,
  .group-third{
    width: px2rem(750);
    overflow: hidden;
  }

  .group-third{
    background: #fff;

    .third-block{
      .block-title{
        height: px2rem(200)
      }
      .organize-wrap{
        margin-top: px2rem(72);
        border: px2rem(1) solid #d6e5e6;
        border-radius: px2rem(5);
      }
    }
    .third-block::before{
      left: px2rem(400);
      top: px2rem(60);
      width: px2rem(283);
      height: px2rem(218);
      background-size: contain;
    }
    .organize-mb-bg{
      width: 100%;
      // height: px2rem(460);
      &::before{
        position: absolute;
        content: '';
        left: 50%;
        top: px2rem(30);
        margin-left: px2rem(-329);
        background: url(../img/g-mb-bg.png) center no-repeat;
        background-size: contain;
        width: px2rem(648);
        height: px2rem(328);
      }
      .first-level,
      .second-level,
      .third-level{
        position: relative;
      }
      .first-level{
        left: 50%;
        top: px2rem(35);
        margin-left: px2rem(-45);
        .level-item{
          font-size: px2rem(28);
        }
      }
      .second-level{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        // left: px2rem(28);
        top: px2rem(125);
        line-height: 1.5;
        height: px2rem(150);
       .level-item{
          width: px2rem(2);
          display: inline-block;
          line-height: 1.2;
          margin-right: px2rem(58);
          // margin-left: px2rem(10);
          font-size: px2rem(28);
          font-weight: normal;
          // letter-spacing: px2rem(1.2);
       }
       .level-item:nth-of-type(1){
          margin-left: px2rem(26);
       }
      }
      .third-level{
        display: block;
        text-align: center;
        margin-top: px2rem(240);
        padding-bottom: px2rem(30);
        // background: gold;
        .level-item{
          font-size: px2rem(26);
          line-height: px2rem(50);
        }
      }
    }
    .show{
      display: block !important;
    }
  }
  .group-four{
    padding-bottom: px2rem(30);
    .qualification-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .qua-item{
        width: 33.33%;
        padding-bottom: px2rem(20);
        .qua-img{
          width: px2rem(170);
          height: px2rem(170);
          margin-left: px2rem(-85);
          .icon-common{
            font-size: px2rem(170);
          }
          .icon{
            font-size: px2rem(60);
            top: px2rem(-115);
          }
        }
        .qua-title{
          font-size: px2rem(24);
          margin-top: px2rem(30);
          font-weight: normal;
          line-height: 1.2;
        }
      }
    }
  }

  .show{
    display: block !important;
  }
}
