@media all and (min-width: $max-width-1190){
  .group-common{
    width: 100%;
  }

  .block-title{
    .span-h2{
      padding-left: 24px;
    }
  }
  .content-wrap{
    margin-left: 414px;
  }
  .content-left{
    width: 350px;
  }
  .content-right{
    width: 360px;
    margin-left: 65px;
    display: none;
  }
  .right-item{
    .item-desc{
      margin-right: 10px;
    }
  }

  .organize-bg::before{
    position: absolute;
    right: 65px;
    top: -40px;
    content: '';
    background: url(../img/g-img-4.png) no-repeat;
    width: 710px;
    // height: 365px;
    height: 390px;
  }

  .big-event-wrap{
    .event-content{
      padding: 0 20px;
    }
    .event-content > div{
      width: $big-event-item-width;
    }
  }
}
@media all and (min-width: $min-width-750) and (max-width: $max-width-1190){
  .group-common{
    width: 100%;
    // height: $group-ctx-height;
  }
  .group-four{
    height: 350px;
  }
  .block-title{
    .span-h2{
      padding-left: 20px;
    }
  }
  .content-wrap{
    margin-left: 240px;
  }
  .content-left{
    width: 350px;
  }
  .content-right{
    width: 330px;
    margin-left: 60px;
  }
  .right-item{
    .item-desc{
      margin-right: 8px;
    }
  }

  .organize-bg::before{
    position: absolute;
    right: 0px;
    top: -40px;
    content: '';
    background: url(../img/g-img-4.png) no-repeat;
    width: 710px;
    // height: 365px;
    height: 390px;
  }

  .organize-group{
    .second-level{
      width: 80%;
    }
    .third-level{
      // text-align: center;
      text-indent: 30px;
      .level-item{
        width: 50%;
        line-height: 28px;
      }
    }
  }

  .big-event-wrap{
    .event-content{
      padding: 0 15px;
    }
    .event-content > div{
      width: 215px;
    }
  }
}

@media all and (max-width: $min-width-750) {
  .mobile-hide{
    display: none;
  }
  .mobile-show{
    display: block;
  }
  .group-first{
    background: #fff;
    height: auto;
    // min-height: px2rem(410);
  }
  .first-block::before{
    top: px2rem(115);
    width: px2rem(690);
    height: px2rem(160);
    left: 50%;
    margin-left: px2rem(-345);
    background-size: contain;
  }
  .block-title{
    padding-top: px2rem(80);
    .span-h2{
      font-size: px2rem(36);
      padding-left: px2rem(36);
      line-height: px2rem(40);
      border-left-width: px2rem(4);
    }
  }
  .content-wrap{
    margin-top: px2rem(270);
    padding-top: px2rem(80);
    // padding-bottom: px2rem(120);
    .since-img{
      width: px2rem(496);
      height: px2rem(88);
      background-size: contain;
    }

    .ctx-item{
      font-size: px2rem(24);
      line-height: px2rem(46);
    }

  }

  .group-third{
    width: px2rem(750);
    overflow: hidden;
  }

  .group-third{
    background: #fff;

    .third-block{
      .block-title{
        height: px2rem(200)
      }
      .organize-wrap{
        margin-top: px2rem(72);
        border: px2rem(1) solid #d6e5e6;
        border-radius: px2rem(5);
      }
    }
    .third-block::before{
      left: px2rem(400);
      top: px2rem(60);
      width: px2rem(283);
      height: px2rem(218);
      background-size: contain;
    }
    // padding-bottom: pxwrem(50);
    .organize-group{
      margin-top: px2rem(72);
      border: px2rem(1) solid #d6e5e6;
      border-radius: px2rem(5);
      margin-left: 0;
      height: auto;
      // padding-top: px2rem(50);
      padding: px2rem(50) px2rem(25) 0; 
      margin-bottom: px2rem(50);
      .first-level,
      .second-level{
        .level-item{
          font-size: px2rem(24);
          border-radius: px2rem(4);
          border-width: px2rem(1);
          padding: px2rem(10) px2rem(15);
        }
      }
      .first-level{
        &::before{
          height: px2rem(20);
          border-left-width: px2rem(1);
        }
      }

      .zlbm-title,
      .qsdw-title{
        font-size: px2rem(28);
        line-height: px2rem(42);
        width: 100%;
        color: #fff;
        text-indent: px2rem(20);
      }
      .zlbm-title{
        top: px2rem(-20);
      }
      .qsdw-title{
        margin-top: px2rem(40);
      }

      .second-level{
        width: 100%;
        margin-top: px2rem(40);
        &::before{
          left: px2rem(19);
          top: px2rem(-20);
          right: px2rem(18);
          border-bottom-width: px2rem(1);
        }
        .level-item{
          padding: px2rem(15) px2rem(6);
          &::before{
            top: px2rem(-20);
            border-left-width: px2rem(1);
          }
          .item-span{
            width: px2rem(24)
          }
        }
      }
      .third-level{
        margin: px2rem(30) 0;
        .level-item{
          width: 100%;
          text-align: center;
          font-size: px2rem(22);
          line-height: px2rem(36);
        }
      }
    }
    
    .show{
      display: block !important;
    }
  }

  .group-four{
    padding-bottom: px2rem(30);
    .qualification-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .qua-item{
        width: 33.33%;
        padding-bottom: px2rem(20);
        .qua-img{
          width: px2rem(170);
          height: px2rem(170);
          margin-left: px2rem(-85);
          .icon-common{
            font-size: px2rem(170);
          }
          .icon{
            font-size: px2rem(60);
            top: px2rem(-115);
          }
        }
        .qua-title{
          font-size: px2rem(24);
          margin-top: px2rem(30);
          font-weight: normal;
          line-height: 1.2;
        }
      }
    }
  }

  .show{
    display: block !important;
  }
}
