// font
$font-family: 'icon';
$version: 1.0;
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
// bgColor
$foot_bg_color: #232f30;
$business-detail-bg-color: #f0f4f7;
$business-detail-bg-ctx-color: #fbfcfd;
$big-event-bg-color: #f1efe8;
$bg-default: #fff;
$banner-bg-color: green;
$banner-bg-color-dj: #e53131;
// height / width
$logo-width: 336px;
$logo-height: 48px;
$news-list-width: 810px;
$news-list-width-980: 705px;
$big-event-btn-width: 44px;
$big-event-btn-height: 44px;
$big-event-item-width: 260px;
$big-event-item-padding-bottom: 35px;
$big-event-title-height: 67px;
$big-event-time-height: 74px;
$index-marker-height: 180px;

// font
$font-size: 14px;
$font-size-12: 12px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-36: 36px;
$font-size-42: 42px;
$font-size-60: 60px;
// color
$nav-color-a: #333;
$breadcrumb-font-color: #666;
$content-font-color: #000;
$search-result-font-color: #4c4c4c;
$font-color-blank: #000;
$contact-pub-time-color: #808080;
$big-event-year-color: #818a8b;
$index-title-color: #3b3b3b;
$index-year-color: #a8a8a8;
$index-end-time: #999;
$font-blank-color: #000;
$car-font-color: #4d4d4d;
$dj-font-color: #f12323;
// header
$header-height: 95px;
// footer
$foot-height: 250px;

// media
$min-width-1191: 1191px;
$max-width-1190: 1190px;
$min-width-750: 750px;
$max-width-980: 980px;
// animate
$animate-small: .2s;
$transition: .3s;
// position
$z-index: 2;

// banner
$banner-height: 130px;
$banner-img-width: 1580px;

// border
$border-default-color: #dedfe2;
$btn-border-color: #dfe3e6;
$big-event-border-color: #cfd8d8;
$year-border-color: #ccc;

// link hover
$link-hover-color: red;

// nav color
$nav-bg-color: #04a450;
$contact-banner-bg: #2f3646;
$business-banner-bg: #151911;
$big-event-btn-left-right: -72px;

// index
$index-border-left-width: 4px;
$index-padding-left: 38px;
$index-padding-left-980: 34px;
$index-marker-width: 386px;
$index-lcb-width: 800px;
$index-lcb-width-980: 695px;
// $index-banner-height: 395px;
$index-banner-height: 345px;
$index-banner-notice: 48px;

// business
$business-banner-height: 240px;
$business-banner-tab-height: 80px;
$business-tab-body: 538px;
$tab-body-left: 602px;
$tab-body-left-980: 500px;
$tab-body-right: 588px;
$tab-body-right-980: 480px;
$tab-1-bg-color: #315fce;
$tab-2-bg-color: #ba7b48;
$tab-3-bg-color: #0f1863;
$tab-4-bg-color: #1a1a1a;
$tab-5-bg-color: #0066b0;
$tab-body-bg-height: 500px;
$tab-body-bg-color: #ebeffa;
$tab-body-bg-color-1: #f8f2ed;
$train-bg-color: #def1ff;
$commun-bg-color: #ebeff2;

// 关于我们
$group-ctx-height: 400px;
