.btn-group{
  font-size: 0;
  padding: 10px 0;
  .btn{
    display: inline-block;
    position: relative;
    outline: none;
    font-size: $font-size;
    color: $breadcrumb-font-color;
    border: 1px solid $btn-border-color;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    line-height: 40px;
    padding: 0 21px;
    margin-top: -1px;
    background-color: $business-detail-bg-color;
    cursor: pointer;
    &:first-of-type{
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    &:last-of-type{
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .btn-active-bg{
    position: absolute;
    left: 0;
    top: 33px;
    width: 0px;
    height: 40px;
    line-height: 40px;
    // transition: all .3s;
    background-color: $nav-bg-color;
    border-radius: 999px;
    text-align: center;
    color: #fff;
    font-size: $font-size;
    overflow: hidden;
  }
  .btn-active-dj-bg{
    background-color: $banner-bg-color-dj;
  }
}